
      <!-- Main Body - Start
      ================================================== -->
      <main class="page_content">

        <!-- Page Banner - Start
        ================================================== -->
        <section class="page_banner text-center">
          <div class="container">
            <div class="heading_badge">Our Blogs</div>
            <h1 class="page_title">Our Latest <mark>Blogs & Newses</mark></h1>
            <p class="page_short_description mb-0">
              We have gathered everything we know about Digital Marketing and SEO
            </p>
          </div>
        </section>
        <!-- Page Banner - End
        ================================================== -->

        <!-- Blog Section - Start
        ================================================== -->
        <section class="blog_section section_space pt-0">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="blog_item">
                      <div class="blog_image">
                        <a href="blog_details.html">
                          <img loading="lazy" src="/assets/images/blog/blog_image_1.webp" alt="RankUpFast - Blog Image">
                        </a>
                      </div>
                      <div class="blog_content">
                        <div class="d-md-flex align-items-center justify-content-md-between">
                          <ul class="category_btns unordered_list">
                            <li><a href="#!">SEO Analysis</a></li>
                            <li><a href="#!">Marketing</a></li>
                          </ul>
                          <div class="post_date">24 Nov, 2024</div>
                        </div>
                        <h2 class="blog_title">
                          <a href="blog_details.html">
                            Your Guide to Account Based Marketing in 2024
                          </a>
                        </h2>
                        <a class="btn_flip_text bg-secondary-subtle" href="blog_details.html">
                          <span class="btn_icon">
                            <i class="fa-regular fa-arrow-up-right"></i>
                          </span>
                          <span class="btn_text" data-text="Read More...">Read More...</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="blog_item">
                      <div class="blog_image">
                        <a href="blog_details.html">
                          <img loading="lazy" src="/assets/images/blog/blog_image_2.webp" alt="RankUpFast - Blog Image">
                        </a>
                      </div>
                      <div class="blog_content">
                        <div class="d-md-flex align-items-center justify-content-md-between">
                          <ul class="category_btns unordered_list">
                            <li><a href="#!">SEO Analysis</a></li>
                            <li><a href="#!">Marketing</a></li>
                          </ul>
                          <div class="post_date">24 Nov, 2024</div>
                        </div>
                        <h3 class="blog_title">
                          <a href="blog_details.html">
                            Top 5 Most Important Social Media & Influencer
                          </a>
                        </h3>
                        <a class="btn_flip_text bg-secondary-subtle" href="blog_details.html">
                          <span class="btn_icon">
                            <i class="fa-regular fa-arrow-up-right"></i>
                          </span>
                          <span class="btn_text" data-text="Read More...">Read More...</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="blog_item">
                      <div class="blog_image">
                        <a href="blog_details.html">
                          <img loading="lazy" src="/assets/images/blog/blog_image_3.webp" alt="RankUpFast - Blog Image">
                        </a>
                      </div>
                      <div class="blog_content">
                        <div class="d-md-flex align-items-center justify-content-md-between">
                          <ul class="category_btns unordered_list">
                            <li><a href="#!">SEO Analysis</a></li>
                            <li><a href="#!">Marketing</a></li>
                          </ul>
                          <div class="post_date">24 Nov, 2024</div>
                        </div>
                        <h3 class="blog_title">
                          <a href="blog_details.html">
                            How to Use Marketing Automation Tools Effectively
                          </a>
                        </h3>
                        <a class="btn_flip_text bg-secondary-subtle" href="blog_details.html">
                          <span class="btn_icon">
                            <i class="fa-regular fa-arrow-up-right"></i>
                          </span>
                          <span class="btn_text" data-text="Read More...">Read More...</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="blog_item">
                      <div class="blog_image">
                        <a href="blog_details.html">
                          <img loading="lazy" src="/assets/images/blog/blog_image_4.webp" alt="RankUpFast - Blog Image">
                        </a>
                      </div>
                      <div class="blog_content">
                        <div class="d-md-flex align-items-center justify-content-md-between">
                          <ul class="category_btns unordered_list">
                            <li><a href="#!">SEO Analysis</a></li>
                            <li><a href="#!">Marketing</a></li>
                          </ul>
                          <div class="post_date">24 Nov, 2024</div>
                        </div>
                        <h3 class="blog_title">
                          <a href="blog_details.html">
                            Your Guide to Account Based Marketing in 2024
                          </a>
                        </h3>
                        <a class="btn_flip_text bg-secondary-subtle" href="blog_details.html">
                          <span class="btn_icon">
                            <i class="fa-regular fa-arrow-up-right"></i>
                          </span>
                          <span class="btn_text" data-text="Read More...">Read More...</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="blog_item">
                      <div class="blog_image">
                        <a href="blog_details.html">
                          <img loading="lazy" src="/assets/images/blog/blog_image_5.webp" alt="RankUpFast - Blog Image">
                        </a>
                      </div>
                      <div class="blog_content">
                        <div class="d-md-flex align-items-center justify-content-md-between">
                          <ul class="category_btns unordered_list">
                            <li><a href="#!">SEO Analysis</a></li>
                            <li><a href="#!">Marketing</a></li>
                          </ul>
                          <div class="post_date">24 Nov, 2024</div>
                        </div>
                        <h3 class="blog_title">
                          <a href="blog_details.html">
                            Top 5 Most Important Social Media & Influencer
                          </a>
                        </h3>
                        <a class="btn_flip_text bg-secondary-subtle" href="blog_details.html">
                          <span class="btn_icon">
                            <i class="fa-regular fa-arrow-up-right"></i>
                          </span>
                          <span class="btn_text" data-text="Read More...">Read More...</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="blog_item">
                      <div class="blog_image">
                        <a href="blog_details.html">
                          <img loading="lazy" src="/assets/images/blog/blog_image_6.webp" alt="RankUpFast - Blog Image">
                        </a>
                      </div>
                      <div class="blog_content">
                        <div class="d-md-flex align-items-center justify-content-md-between">
                          <ul class="category_btns unordered_list">
                            <li><a href="#!">SEO Analysis</a></li>
                            <li><a href="#!">Marketing</a></li>
                          </ul>
                          <div class="post_date">24 Nov, 2024</div>
                        </div>
                        <h3 class="blog_title">
                          <a href="blog_details.html">
                            How to Use Marketing Automation Tools Effectively
                          </a>
                        </h3>
                        <a class="btn_flip_text bg-secondary-subtle" href="blog_details.html">
                          <span class="btn_icon">
                            <i class="fa-regular fa-arrow-up-right"></i>
                          </span>
                          <span class="btn_text" data-text="Read More...">Read More...</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="blog_item">
                      <div class="blog_image">
                        <a href="blog_details.html">
                          <img loading="lazy" src="/assets/images/blog/blog_image_7.webp" alt="RankUpFast - Blog Image">
                        </a>
                      </div>
                      <div class="blog_content">
                        <div class="d-md-flex align-items-center justify-content-md-between">
                          <ul class="category_btns unordered_list">
                            <li><a href="#!">SEO Analysis</a></li>
                            <li><a href="#!">Marketing</a></li>
                          </ul>
                          <div class="post_date">24 Nov, 2024</div>
                        </div>
                        <h3 class="blog_title">
                          <a href="blog_details.html">
                            Top 5 Most Important Social Media & Influencer
                          </a>
                        </h3>
                        <a class="btn_flip_text bg-secondary-subtle" href="blog_details.html">
                          <span class="btn_icon">
                            <i class="fa-regular fa-arrow-up-right"></i>
                          </span>
                          <span class="btn_text" data-text="Read More...">Read More...</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="blog_item">
                      <div class="blog_image">
                        <a href="blog_details.html">
                          <img loading="lazy" src="/assets/images/blog/blog_image_8.webp" alt="RankUpFast - Blog Image">
                        </a>
                      </div>
                      <div class="blog_content">
                        <div class="d-md-flex align-items-center justify-content-md-between">
                          <ul class="category_btns unordered_list">
                            <li><a href="#!">SEO Analysis</a></li>
                            <li><a href="#!">Marketing</a></li>
                          </ul>
                          <div class="post_date">24 Nov, 2024</div>
                        </div>
                        <h3 class="blog_title">
                          <a href="blog_details.html">
                            How to Use Marketing Automation Tools Effectively
                          </a>
                        </h3>
                        <a class="btn_flip_text bg-secondary-subtle" href="blog_details.html">
                          <span class="btn_icon">
                            <i class="fa-regular fa-arrow-up-right"></i>
                          </span>
                          <span class="btn_text" data-text="Read More...">Read More...</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pagination_wrap">
                  <ul class="pagination_nav unordered_list">
                    <li><a href="#!" aria-label="Pagination Arrow left"><i class="fa-solid fa-arrow-left"></i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li><a href="#!">2</a></li>
                    <li><a href="#!">3</a></li>
                    <li><a href="#!">...</a></li>
                    <li><a href="#!">30</a></li>
                    <li><a href="#!" aria-label="Pagination Arrow right"><i class="fa-solid fa-arrow-right"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4">
                <aside class="sidebar ps-lg-4">
                  <div class="sidebar_search">
                    <h3 class="sidebar_widget_title">Search Anything</h3>
                    <form class="form-group mb-0" action="#">
                      <input class="form-control" type="search" name="search" placeholder="Type Something...">
                      <button type="submit">
                        <img loading="lazy" src="/assets/images/icons/icon_search.svg" alt="Search Icon">
                      </button>
                    </form>
                  </div>
                  <div class="category_wrapper">
                    <h3 class="sidebar_widget_title">Categories</h3>
                    <ul class="blog_category_list unordered_list_block">
                      <li>
                        <a href="#!">
                          <span>RankUpFast</span>
                          <span>06</span>
                        </a>
                      </li>
                      <li>
                        <a href="#!">
                          <span>Event Organizing</span>
                          <span>03</span>
                        </a>
                      </li>
                      <li>
                        <a href="#!">
                          <span>Site Ranking</span>
                          <span>10</span>
                        </a>
                      </li>
                      <li>
                        <a href="#!">
                          <span>Artificial Intelligence (AI)</span>
                          <span>12</span>
                        </a>
                      </li>
                      <li>
                        <a href="#!">
                          <span>Gutenberg Facility</span>
                          <span>16</span>
                        </a>
                      </li>
                      <li>
                        <a href="#!">
                          <span>Digital Marketing Plans</span>
                          <span>05</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="post_list_wrapper">
                    <h3 class="sidebar_widget_title">Most Popular Posts</h3>
                    <ul class="post_list_grouped unordered_list_block">
                      <li>
                        <a href="blog_details.html">
                          <span class="item_image">
                            <img loading="lazy" src="/assets/images/blog/post_list_item_image_1.webp" alt="RankUpFast - Blog Image">
                          </span>
                          <span class="item_content">
                            <strong>
                              Your Guide to Account Based Marketing
                            </strong>
                            <small>Janu 25, 2024</small>
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="blog_details.html">
                          <span class="item_image">
                            <img loading="lazy" src="/assets/images/blog/post_list_item_image_2.webp" alt="RankUpFast - Blog Image">
                          </span>
                          <span class="item_content">
                            <strong>
                              Complete Link Building Guide for Beginners
                            </strong>
                            <small>Janu 25, 2024</small>
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="blog_details.html">
                          <span class="item_image">
                            <img loading="lazy" src="/assets/images/blog/post_list_item_image_3.webp" alt="RankUpFast - Blog Image">
                          </span>
                          <span class="item_content">
                            <strong>
                              Most Important Social Media & Influencer
                            </strong>
                            <small>Janu 25, 2024</small>
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="blog_details.html">
                          <span class="item_image">
                            <img loading="lazy" src="/assets/images/blog/post_list_item_image_4.webp" alt="RankUpFast - Blog Image">
                          </span>
                          <span class="item_content">
                            <strong>
                              How to Use Marketing Automation Tools
                            </strong>
                            <small>Janu 25, 2024</small>
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="popular_tags">
                    <h3 class="sidebar_widget_title">Popular Tags</h3>
                    <ul class="tags_list unordered_list">
                      <li><a href="#!">Creative</a></li>
                      <li><a href="#!">Site Template</a></li>
                      <li><a href="#!">SEO</a></li>
                      <li><a href="#!">One-Page SEO</a></li>
                      <li><a href="#!">SEO Report</a></li>
                      <li><a href="#!">Keywords</a></li>
                      <li><a href="#!">Website</a></li>
                      <li><a href="#!">Promotion</a></li>
                      <li><a href="#!">UI/UX Design</a></li>
                      <li><a href="#!">Content</a></li>
                      <li><a href="#!">Marketing</a></li>
                      <li><a href="#!">Shopify</a></li>
                      <li><a href="#!">WordPress</a></li>
                      <li><a href="#!">Elementor</a></li>
                      <li><a href="#!">Gutenberg</a></li>
                      <li><a href="#!">Themes</a></li>
                      <li><a href="#!">Plugins</a></li>
                      <li><a href="#!">Template Kits</a></li>
                    </ul>
                  </div>
                  <div class="social_activity_wrapper">
                    <h3 class="sidebar_widget_title">Stay Close to Us</h3>
                    <ul class="social_activity unordered_list">
                      <li>
                        <a href="#!">
                          <span>
                            <img loading="lazy" src="/assets/images/icons/icon_facebook.svg" alt="RankUpFast - Icon Facebook">
                          </span>
                          <strong>Facebook</strong>
                          <small>10M+ Followers</small>
                        </a>
                      </li>
                      <li>
                        <a href="#!">
                          <span>
                            <img loading="lazy" src="/assets/images/icons/icon_twitter_x.svg" alt="RankUpFast - Icon Twitter">
                          </span>
                          <strong>Twitter</strong>
                          <small>10M+ Followers</small>
                        </a>
                      </li>
                      <li>
                        <a href="#!">
                          <span>
                            <img loading="lazy" src="/assets/images/icons/icon_linkedin.svg" alt="RankUpFast - Icon Linkedin">
                          </span>
                          <strong>Linkedin</strong>
                          <small>10M+ Followers</small>
                        </a>
                      </li>
                      <li>
                        <a href="#!">
                          <span>
                            <img loading="lazy" src="/assets/images/icons/icon_youtube.svg" alt="RankUpFast - Icon YouTube">
                          </span>
                          <strong>YouTube</strong>
                          <small>10M+ Subscribers</small>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="sidebar_newsletter">
                    <h3 class="sidebar_widget_title mb-2">Newsletter</h3>
                    <p>
                      Get Registration Now to Get Latest Updates on Promotions & Coupons.
                    </p>
                    <form class="form-group mb-0" action="#">
                      <input class="form-control mb-2" type="email" name="newsletterEmail" placeholder="Email Address">
                      <button type="submit" class="btn btn-dark w-100 d-block">
                        <span class="btn_text">Subscribe</span>
                      </button>
                    </form>
                  </div>
                </aside>
              </div>
            </div>
          </div>
        </section>
        <!-- Blog Section - End
        ================================================== -->

        <!-- CTA Section - Start
        ================================================== -->
        <section class="cta_section bg-primary pt-5 pb-5">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="section_heading mb-0 pe-lg-5">
                  <h2 class="heading_title mb-0 text-white">
                    Choose Your Package From the Pricing Plans
                  </h2>
                </div>
              </div>
              <div class="col-lg-6 text-lg-end">
                <a class="btn btn-light" href="pricing.html">
                  <span class="btn_text">Get Started Now</span>
                </a>
              </div>
            </div>
          </div>
        </section>
        <!-- CTA Section - End
        ================================================== -->

      </main>
      <!-- Main Body - End
      ================================================== -->
