
      <!-- Main Body - Start
      ================================================== -->
      <main class="page_content">

        <!-- Blog Details Section - Start
        ================================================== -->
        <section class="blog_details_section section_space">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="details_item_content">
                  <div class="details_item_image">
                    <img loading="lazy" src="/assets/images/blog/blog_image_1.webp" alt="RankUpFast - Blog Image">
                  </div>
                  <ul class="category_btns unordered_list">
                    <li><a href="#!">SEO Analysis</a></li>
                    <li><a href="#!">Marketing</a></li>
                  </ul>
                  <h1 class="details_item_title">
                    Top 5 Most Important Social Media & Influencer
                  </h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
                  </p>
                  <blockquote>
                    <div class="lead">
                      Sed ut perspiciatis unde omnis iste — natus Sit totam error rem voluptatem accusantium doloremque laudantium, aperiam, eaque ipsa quae
                    </div>
                    <cite class="blockquote-footer" title="Your Web Developer">By: WebRock</cite>
                  </blockquote>
                  <h2 class="details_item_info_title">1. Remember not to sweat the small stuff</h2>
                  <p>
                    Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing.
                  </p>
                  <div class="row mb-4">
                    <div class="col-md-6 col-sm-6">
                      <div class="details_item_image m-0">
                        <img loading="lazy" src="/assets/images/blog/blog_image_2.webp" alt="RankUpFast - Blog Image">
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="details_item_image m-0">
                        <img loading="lazy" src="/assets/images/blog/blog_image_3.webp" alt="RankUpFast - Blog Image">
                      </div>
                    </div>
                  </div>
                  <h3 class="details_item_info_title">2. Practice acceptance</h3>
                  <p>
                    Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. 
                  </p>
                  <ul class="icon_list unordered_list_block">
                    <li>
                      <span class="icon_list_icon">
                        <i class="fa-solid fa-circle"></i>
                      </span>
                      <span class="icon_list_text">
                        <b class="text-dark">Unlock SEO Success:</b> A Beginner's Guide to Google Analytics Starter Reports
                      </span>
                    </li>
                    <li>
                      <span class="icon_list_icon">
                        <i class="fa-solid fa-circle"></i>
                      </span>
                      <span class="icon_list_text">
                        <b class="text-dark">Demystifying Google Analytics:</b> Adding Users Made Easy
                      </span>
                    </li>
                    <li>
                      <span class="icon_list_icon">
                        <i class="fa-solid fa-circle"></i>
                      </span>
                      <span class="icon_list_text">
                        <b class="text-dark">Decoding Web Success:</b> A Comprehensive Guide to Measuring Traffic with Google Analytics
                      </span>
                    </li>
                    <li>
                      <span class="icon_list_icon">
                        <i class="fa-solid fa-circle"></i>
                      </span>
                      <span class="icon_list_text">
                        <b class="text-dark">Mastering SEO Insights:</b> 10 Essential Metrics for Tracking Conversions
                      </span>
                    </li>
                    <li>
                      <span class="icon_list_icon">
                        <i class="fa-solid fa-circle"></i>
                      </span>
                      <span class="icon_list_text">
                        <b class="text-dark">Goal-Getter's Guide:</b> Setting Up Objectives with Google Analytics for Optimal Results
                      </span>
                    </li>
                  </ul>
                  <h3 class="details_item_info_title">3. Exercise patience</h3>
                  <p>
                    Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. 
                  </p>
                  <h3 class="details_item_info_title">4. Lower your expectations</h3>
                  <p>
                    Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                  </p>
                  <h3 class="details_item_info_title">5. Remember you both desire harmony</h3>
                  <p>
                    Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                  </p>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="popular_tags">
                      <h3 class="sidebar_widget_title mb-3">Related Tags:</h3>
                      <ul class="tags_list unordered_list">
                        <li><a href="#!">SEO Report</a></li>
                        <li><a href="#!">SEO</a></li>
                        <li><a href="#!">One-Page SEO</a></li>
                        <li><a href="#!">Keywords</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <h3 class="sidebar_widget_title mb-3 text-md-end text-sm-end">Share Post:</h3>
                    <ul class="social_icon unordered_list justify-content-md-end justify-content-sm-end">
                      <li><a aria-label="Facebook" href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a aria-label="Twitter" href="#!"><i class="fa-brands fa-twitter"></i></a></li>
                      <li><a aria-label="Linkedin" href="#!"><i class="fa-brands fa-linkedin-in"></i></a></li>
                      <li><a aria-label="Instagram" href="#!"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
                <hr>
                <div class="prev_next_post_nav mt-0">
                  <a href="#!">
                    <span class="item_icon">
                      <i class="fa-solid fa-angle-left"></i>
                    </span>
                    <span class="item_content">
                      <strong>
                        <small>Previous</small>
                        Your Guide to Account Based Marketing in 2024
                      </strong>
                    </span>
                  </a>
                  <a href="#!">
                    <span class="item_icon">
                      <i class="fa-solid fa-angle-right"></i>
                    </span>
                    <span class="item_content">
                      <strong>
                        <small>Next</small>
                        How to Use Marketing Automation Tools Effectively
                      </strong>
                    </span>
                  </a>
                </div>
                <div class="blog_post_author">
                  <div class="author_image bg-success-subtle">
                    <img loading="lazy" src="/assets/images/team/team_member_image_8.png" alt="RankUpFast - Blog Author Image">
                  </div>
                  <div class="author_info">
                    <h4 class="author_name">Merry Rose</h4>
                    <p class="author_designation">
                      Phasellus viverra nulla ut metus varius laoreet. Quisque Nullam quis ante. Etiam sit amet orci eget eros tincidunt. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. 
                    </p>
                    <ul class="social_icon unordered_list">
                      <li><a aria-label="Facebook" href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a aria-label="Twitter" href="#!"><i class="fa-brands fa-twitter"></i></a></li>
                      <li><a aria-label="Linkedin" href="#!"><i class="fa-brands fa-linkedin-in"></i></a></li>
                      <li><a aria-label="Instagram" href="#!"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>

                <div class="comment_area">
                  <h3 class="comment_area_title">Comments (3)</h3>
                  <ul class="comments_list unordered_list_block">
                    <li>
                      <div class="comment_item">
                        <div class="comment_author_info">
                          <span class="comment_author_thumbnail">
                            <img loading="lazy" src="/assets/images/team/team_member_image_2.png" alt="RankUpFast - Comment Author Avatar">
                          </span>
                          <span class="comment_author_name">Benjami Costa</span>
                        </div>
                        <div class="comment_author_content">
                          <p class="mb-0">
                            I believe everyone should have the opportunity to create the progress through the tech and develop the skills. Luxury home prices in Sydney declined for the first time. Across the world, our sports writers & arts critics.
                          </p>
                          <ul class="comment_action_info unordered_list">
                            <li>Jan 28, 2024 at 10:21am</li>
                            <li>
                              <a class="comment_reply_btn" href="#!">Reply</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <ul class="comments_list unordered_list_block">
                        <li>
                          <div class="comment_item">
                            <div class="comment_author_info">
                              <span class="comment_author_thumbnail">
                                <img loading="lazy" src="/assets/images/team/team_member_image_3.png" alt="RankUpFast - Comment Author Avatar">
                              </span>
                              <span class="comment_author_name">Benjami Costa</span>
                            </div>
                            <div class="comment_author_content">
                              <p class="mb-0">
                                I believe everyone should have the opportunity to create the progress through the tech and develop the skills. Luxury home prices in Sydney declined for the first time. Across the world, our sports writers & arts critics.
                              </p>
                              <ul class="comment_action_info unordered_list">
                                <li>Jan 28, 2024 at 10:21am</li>
                                <li>
                                  <a class="comment_reply_btn" href="#!">Reply</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="comment_item">
                            <div class="comment_author_info">
                              <span class="comment_author_thumbnail">
                                <img loading="lazy" src="/assets/images/team/team_member_image_2.png" alt="RankUpFast - Comment Author Avatar">
                              </span>
                              <span class="comment_author_name">Benjami Costa</span>
                            </div>
                            <div class="comment_author_content">
                              <p class="mb-0">
                                I believe everyone should have the opportunity to create the progress through the tech and develop the skills. Luxury home prices in Sydney declined for the first time. Across the world, our sports writers & arts critics.
                              </p>
                              <ul class="comment_action_info unordered_list">
                                <li>Jan 28, 2024 at 10:21am</li>
                                <li>
                                  <a class="comment_reply_btn" href="#!">Reply</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="comment_item">
                            <div class="comment_author_info">
                              <span class="comment_author_thumbnail">
                                <img loading="lazy" src="/assets/images/team/team_member_image_3.png" alt="RankUpFast - Comment Author Avatar">
                              </span>
                              <span class="comment_author_name">Benjami Costa</span>
                            </div>
                            <div class="comment_author_content">
                              <p class="mb-0">
                                I believe everyone should have the opportunity to create the progress through the tech and develop the skills. Luxury home prices in Sydney declined for the first time. Across the world, our sports writers & arts critics.
                              </p>
                              <ul class="comment_action_info unordered_list">
                                <li>Jan 28, 2024 at 10:21am</li>
                                <li>
                                  <a class="comment_reply_btn" href="#!">Reply</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <div class="comment_item">
                        <div class="comment_author_info">
                          <span class="comment_author_thumbnail">
                            <img loading="lazy" src="/assets/images/team/team_member_image_4.png" alt="RankUpFast - Comment Author Avatar">
                          </span>
                          <span class="comment_author_name">Benjami Costa</span>
                        </div>
                        <div class="comment_author_content">
                          <p class="mb-0">
                            I believe everyone should have the opportunity to create the progress through the tech and develop the skills. Luxury home prices in Sydney declined for the first time. Across the world, our sports writers & arts critics.
                          </p>
                          <ul class="comment_action_info unordered_list">
                            <li>Jan 28, 2024 at 10:21am</li>
                            <li>
                              <a class="comment_reply_btn" href="#!">Reply</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="comment_area mb-0">
                  <h3 class="comment_area_title">Leave a Comment</h3>
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label class="input_title" for="input_name">Full Name</label>
                        <input id="input_name" class="form-control" type="text" name="name" placeholder="Rakibul Hassn" required>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label class="input_title" for="input_url">Website URL</label>
                        <input id="input_url" class="form-control" type="url" name="website" placeholder="Sitename.com" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label class="input_title" for="input_email">Your Email</label>
                        <input id="input_email" class="form-control" type="email" name="email" placeholder="Example@email.com" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label class="input_title" for="input_textarea">Comments / Questions</label>
                        <textarea id="input_textarea" class="form-control" name="message" placeholder="Detailed your query"></textarea>
                      </div>
                      <div class="form-check mb-5">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Keep my Name, Email, and Website stored in this browser for the next time I comment.
                        </label>
                      </div>
                      <button type="submit" class="btn btn-primary">
                        <span class="btn_text">Post Comment</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <aside class="sidebar ps-lg-4">
                  <div class="sidebar_search">
                    <h3 class="sidebar_widget_title">Search Anything</h3>
                    <form class="form-group mb-0" action="#">
                      <input class="form-control" type="search" name="search" placeholder="Type Something...">
                      <button type="submit">
                        <img loading="lazy" src="/assets/images/icons/icon_search.svg" alt="Search Icon">
                      </button>
                    </form>
                  </div>
                  <div class="category_wrapper">
                    <h3 class="sidebar_widget_title">Categories</h3>
                    <ul class="blog_category_list unordered_list_block">
                      <li>
                        <a href="#!">
                          <span>RankUpFast</span>
                          <span>06</span>
                        </a>
                      </li>
                      <li>
                        <a href="#!">
                          <span>Event Organizing</span>
                          <span>03</span>
                        </a>
                      </li>
                      <li>
                        <a href="#!">
                          <span>Site Ranking</span>
                          <span>10</span>
                        </a>
                      </li>
                      <li>
                        <a href="#!">
                          <span>Artificial Intelligence (AI)</span>
                          <span>12</span>
                        </a>
                      </li>
                      <li>
                        <a href="#!">
                          <span>Gutenberg Facility</span>
                          <span>16</span>
                        </a>
                      </li>
                      <li>
                        <a href="#!">
                          <span>Digital Marketing Plans</span>
                          <span>05</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="post_list_wrapper">
                    <h3 class="sidebar_widget_title">Most Popular Posts</h3>
                    <ul class="post_list_grouped unordered_list_block">
                      <li>
                        <a href="blog_details.html">
                          <span class="item_image">
                            <img loading="lazy" src="/assets/images/blog/post_list_item_image_1.webp" alt="RankUpFast - Blog Image">
                          </span>
                          <span class="item_content">
                            <strong>
                              Your Guide to Account Based Marketing
                            </strong>
                            <small>Janu 25, 2024</small>
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="blog_details.html">
                          <span class="item_image">
                            <img loading="lazy" src="/assets/images/blog/post_list_item_image_2.webp" alt="RankUpFast - Blog Image">
                          </span>
                          <span class="item_content">
                            <strong>
                              Complete Link Building Guide for Beginners
                            </strong>
                            <small>Janu 25, 2024</small>
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="blog_details.html">
                          <span class="item_image">
                            <img loading="lazy" src="/assets/images/blog/post_list_item_image_3.webp" alt="RankUpFast - Blog Image">
                          </span>
                          <span class="item_content">
                            <strong>
                              Most Important Social Media & Influencer
                            </strong>
                            <small>Janu 25, 2024</small>
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="blog_details.html">
                          <span class="item_image">
                            <img loading="lazy" src="/assets/images/blog/post_list_item_image_4.webp" alt="RankUpFast - Blog Image">
                          </span>
                          <span class="item_content">
                            <strong>
                              How to Use Marketing Automation Tools
                            </strong>
                            <small>Janu 25, 2024</small>
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="popular_tags">
                    <h3 class="sidebar_widget_title">Popular Tags</h3>
                    <ul class="tags_list unordered_list">
                      <li><a href="#!">Creative</a></li>
                      <li><a href="#!">Site Template</a></li>
                      <li><a href="#!">SEO</a></li>
                      <li><a href="#!">One-Page SEO</a></li>
                      <li><a href="#!">SEO Report</a></li>
                      <li><a href="#!">Keywords</a></li>
                      <li><a href="#!">Website</a></li>
                      <li><a href="#!">Promotion</a></li>
                      <li><a href="#!">UI/UX Design</a></li>
                      <li><a href="#!">Content</a></li>
                      <li><a href="#!">Marketing</a></li>
                      <li><a href="#!">Shopify</a></li>
                      <li><a href="#!">WordPress</a></li>
                      <li><a href="#!">Elementor</a></li>
                      <li><a href="#!">Gutenberg</a></li>
                      <li><a href="#!">Themes</a></li>
                      <li><a href="#!">Plugins</a></li>
                      <li><a href="#!">Template Kits</a></li>
                    </ul>
                  </div>
                  <div class="social_activity_wrapper">
                    <h3 class="sidebar_widget_title">Stay Close to Us</h3>
                    <ul class="social_activity unordered_list">
                      <li>
                        <a href="#!">
                          <span>
                            <img loading="lazy" src="/assets/images/icons/icon_facebook.svg" alt="RankUpFast - Icon Facebook">
                          </span>
                          <strong>Facebook</strong>
                          <small>10M+ Followers</small>
                        </a>
                      </li>
                      <li>
                        <a href="#!">
                          <span>
                            <img loading="lazy" src="/assets/images/icons/icon_twitter_x.svg" alt="RankUpFast - Icon Twitter">
                          </span>
                          <strong>Twitter</strong>
                          <small>10M+ Followers</small>
                        </a>
                      </li>
                      <li>
                        <a href="#!">
                          <span>
                            <img loading="lazy" src="/assets/images/icons/icon_linkedin.svg" alt="RankUpFast - Icon Linkedin">
                          </span>
                          <strong>Linkedin</strong>
                          <small>10M+ Followers</small>
                        </a>
                      </li>
                      <li>
                        <a href="#!">
                          <span>
                            <img loading="lazy" src="/assets/images/icons/icon_youtube.svg" alt="RankUpFast - Icon YouTube">
                          </span>
                          <strong>YouTube</strong>
                          <small>10M+ Subscribers</small>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="sidebar_newsletter">
                    <h3 class="sidebar_widget_title mb-1">Newsletter</h3>
                    <p>
                      Get Registration Now to Get Latest Updates on Promotions & Coupons.
                    </p>
                    <form class="form-group mb-0" action="#">
                      <input class="form-control mb-2" type="email" name="newsletterEmail" placeholder="Email Address">
                      <button type="submit" class="btn btn-dark w-100 d-block">
                        <span class="btn_text">Subscribe</span>
                      </button>
                    </form>
                  </div>
                </aside>
              </div>
            </div>
          </div>
        </section>
        <!-- Blog Details Section - End
        ================================================== -->

        <!-- Blog Section - Start
        ================================================== -->
        <section class="blog_section section_space bg-light-subtle">
          <div class="container">
            <div class="row mb-lg-4 align-items-end justify-content-lg-between">
              <div class="col-lg-6">
                <div class="section_heading mb-lg-0">
                  <h2 class="heading_title mb-0">
                    Related <mark>Articles</mark>
                  </h2>
                </div>
              </div>
              <div class="col-lg-6 d-none d-lg-flex justify-content-end">
                <a class="btn btn-primary" href="blog.html">
                  <span class="btn_text">View All Articles</span>
                </a>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog_item bg-white">
                  <div class="blog_image">
                    <a href="blog_details.html">
                      <img loading="lazy" src="/assets/images/blog/blog_image_4.webp" alt="RankUpFast - Blog Image">
                    </a>
                  </div>
                  <div class="blog_content">
                    <div class="d-md-flex align-items-center justify-content-md-between">
                      <ul class="category_btns unordered_list">
                        <li><a href="#!">SEO Analysis</a></li>
                        <li><a href="#!">Marketing</a></li>
                      </ul>
                      <div class="post_date">24 Nov, 2024</div>
                    </div>
                    <h3 class="blog_title">
                      <a href="blog_details.html">
                        Your Guide to Account Based Marketing in 2024
                      </a>
                    </h3>
                    <a class="btn_flip_text bg-secondary-subtle" href="blog_details.html">
                      <span class="btn_icon">
                        <i class="fa-regular fa-arrow-up-right"></i>
                      </span>
                      <span class="btn_text" data-text="Read More...">Read More...</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog_item bg-white">
                  <div class="blog_image">
                    <a href="blog_details.html">
                      <img loading="lazy" src="/assets/images/blog/blog_image_5.webp" alt="RankUpFast - Blog Image">
                    </a>
                  </div>
                  <div class="blog_content">
                    <div class="d-md-flex align-items-center justify-content-md-between">
                      <ul class="category_btns unordered_list">
                        <li><a href="#!">SEO Analysis</a></li>
                        <li><a href="#!">Marketing</a></li>
                      </ul>
                      <div class="post_date">24 Nov, 2024</div>
                    </div>
                    <h3 class="blog_title">
                      <a href="blog_details.html">
                        Top 5 Most Important Social Media & Influencer
                      </a>
                    </h3>
                    <a class="btn_flip_text bg-secondary-subtle" href="blog_details.html">
                      <span class="btn_icon">
                        <i class="fa-regular fa-arrow-up-right"></i>
                      </span>
                      <span class="btn_text" data-text="Read More...">Read More...</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog_item bg-white">
                  <div class="blog_image">
                    <a href="blog_details.html">
                      <img loading="lazy" src="/assets/images/blog/blog_image_6.webp" alt="RankUpFast - Blog Image">
                    </a>
                  </div>
                  <div class="blog_content">
                    <div class="d-md-flex align-items-center justify-content-md-between">
                      <ul class="category_btns unordered_list">
                        <li><a href="#!">SEO Analysis</a></li>
                        <li><a href="#!">Marketing</a></li>
                      </ul>
                      <div class="post_date">24 Nov, 2024</div>
                    </div>
                    <h3 class="blog_title">
                      <a href="blog_details.html">
                        How to Use Marketing Automation Tools Effectively
                      </a>
                    </h3>
                    <a class="btn_flip_text bg-secondary-subtle" href="blog_details.html">
                      <span class="btn_icon">
                        <i class="fa-regular fa-arrow-up-right"></i>
                      </span>
                      <span class="btn_text" data-text="Read More...">Read More...</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="btn_wrap pb-0 d-block d-lg-none">
              <a class="btn btn-primary" href="blog.html">
                <span class="btn_text">View All Articles</span>
              </a>
            </div>
          </div>
        </section>
        <!-- Blog Section - End
        ================================================== -->

        <!-- CTA Section - Start
        ================================================== -->
        <section class="cta_section bg-primary pt-5 pb-5">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="section_heading mb-0 pe-lg-5">
                  <h2 class="heading_title mb-0 text-white">
                    Choose Your Package From the Pricing Plans
                  </h2>
                </div>
              </div>
              <div class="col-lg-6 text-lg-end">
                <a class="btn btn-light" href="pricing.html">
                  <span class="btn_text">Get Started Now</span>
                </a>
              </div>
            </div>
          </div>
        </section>
        <!-- CTA Section - End
        ================================================== -->

      </main>
      <!-- Main Body - End
      ================================================== -->
